
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Информация о пользователе</title>
    <link rel="stylesheet" href="~/css/table.css" />
</head>


<body>
    <table class="simple-little-table" cellspacing="0">
        <tr>
            <th>Информация о пользователе</th>
        </tr>

        <tr>
            <td>ФИО</td>
            <td>@ViewBag.UserFio</td>
        </tr>
        <tr>
            <td>Идентификатор</td>
            <td>@ViewBag.UserId</td>
        </tr>
        <tr>
            <td>Вероятность взлома</td>
            <td>@ViewBag.UserMark</td>
        </tr>
        <tr>
            <td>Флаг</td>
            @if (@ViewBag.UserMark <= 30)
            {
                <td style="background: green;">
                    Зеленый
                </td>
            }
            else if (@ViewBag.UserMark <= 75)
            {
                <td style="background: yellow;">
                    Желтый
                </td>
            }
            else
            {
                <td style="background: red;">
                    Красный
                </td>
            }
        </tr>
    </table>

    <table class="simple-little-table">
        <tr>
            <th>Список локации</th>
        </tr>

        @foreach (var item in ViewBag.Loc)
        {
            <tr>
                <td>@item</td>
            </tr>
        }

    </table>
    <table class="simple-little-table">
        <tr>
            <th>Список устройств</th>
        </tr>

        @foreach (var item in ViewBag.Sys)
        {
            <tr>
                <td>@item</td>
            </tr>
        }

    </table>
    <table class="simple-little-table">
        <tr>
            <th>Список провайдеров</th>
        </tr>

        @foreach (var item in ViewBag.Pro)
        {
            <tr>
                <td>@item</td>
            </tr>
        }

    </table>



    <div class="container">
        <div id="chart1"></div>
    </div>

    @section scripts{
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script>
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                $.get('JsonData3',   function (jsonData) {
                    data = google.visualization.arrayToDataTable(jsonData, false);
                    var option = {
                        title: "Инциденты за 2 недели",
                        vAxis: { title: 'Кол-во инцидентов' },
                        hAxis: { title: 'День инцидента' },
                        width: 1000,
                        height: 500
                    };
                    chart = new google.visualization.LineChart(document.getElementById('chart1'));
                    chart.draw(data, option);
                })
            }
        </script>
    }

</body>
</html>








