
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Информация о пользователе</title>
    <link rel="stylesheet" href="~/css/table.css" />
</head>


<body>
    <table class="simple-little-table" cellspacing="0">
        <tr>
            <th>Информация о пользователе</th>
        </tr>

        <tr>
            <td>ФИО</td>
            <td>@ViewBag.UserFio</td>
        </tr>
        <tr>
            <td>Идентификатор</td>
            <td>@ViewBag.UserId</td>
        </tr>
        <tr>
            <td>Вероятность взлома</td>
            <td>@ViewBag.UserMark</td>
        </tr>
        <tr>
            <td>Флаг</td>
            @if (@ViewBag.UserMark <= 30)
            {
                <td style="background: green;">
                    Зеленый
                </td>
            }
            else if (@ViewBag.UserMark <= 75)
            {
                <td style="background: yellow;">
                    Желтый
                </td>
            }
            else
            {
                <td style="background: red;">
                    Красный
                </td>
            }
        </tr>
    </table>

    <table class="simple-little-table">
        <tr>
            <th>Информация о сессиях</th>
        </tr>
        <tr>
            <td>Время первой сессии:</td>
            <td>@ViewBag.UserSes.first</td>
        </tr>
        <tr>
            <td>Времям последней сесии:</td>
            <td>@ViewBag.UserSes.last</td>
        </tr>
        <tr>
            <td>Количество сессии:</td>
            <td>@ViewBag.UserSes.count</td>
        </tr>
    </table>


    <table class="simple-little-table">
        <tr>
            <th>Список локации</th>
        </tr>

        @foreach (var item in ViewBag.Loc)
        {
            <tr>
                <td>@item</td>
            </tr>
        }

    </table>
    <table class="simple-little-table">
        <tr>
            <th>Список устройств</th>
        </tr>

        @foreach (var item in ViewBag.Sys)
        {
            <tr>
                <td>@item</td>
            </tr>
        }

    </table>
    <table class="simple-little-table">
        <tr>
            <th>Список провайдеров</th>
        </tr>

        @foreach (var item in ViewBag.Pro)
        {
            <tr>
                <td>@item</td>
            </tr>
        }

    </table>
    <table class="simple-little-table">
        <tr>
            <th>Список сессии</th>
        </tr>
        <tr>
            <td>Начало сессии</td>
            <td>Конец сессии</td>
            <td>Секции</td>
            <td>Формы</td>
            <td>Тип устройства</td>
            <td>Местопложение</td>
            <td>Браузер</td>
            <td>Провайдер</td>
            <td>Система</td>
            <td>Язык</td>
            <td>VPN</td>
            <td>Proxy</td>
            <td>Риск взлома</td>
        </tr>
        @foreach (var t in ViewBag.SesSimple)
        {
    <tr>
        <td>@t.start</td>
        <td>@t.finish</td>
        <td>@t.sections</td>
        <td>@t.forms</td>
        <td>@t.device</td>
        <td>@t.location</td>
        <td>@t.browser</td>
        <td>@t.provider</td>
        <td>@t.system</td>
        <td>@t.language</td>
        <td>@t.vpn</td>
        <td>@t.proxy</td>
        @if (t.value <= 30)
        {
            <td style="background: green;">
                Зеленый
            </td>
        }
        else if (t.value <= 75)
        {
            <td style="background: yellow;">
                Желтый
            </td>
        }
        else
        {
            <td style="background: red;">
                Красный
            </td>
        }

    </tr>
            }
            </table>


    <div class="container">
        <div id="chart1"></div>
    </div>

    @section scripts{
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script>
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                $.get('JsonData3', function (jsonData) {
                    data = google.visualization.arrayToDataTable(jsonData, false);
                    var option = {
                        title: "Инциденты за 2 недели",
                        vAxis: { title: 'Кол-во инцидентов' },
                        hAxis: { title: 'День инцидента' },
                        width: 1000,
                        height: 500
                    };
                    chart = new google.visualization.LineChart(document.getElementById('chart1'));
                    chart.draw(data, option);
                })
            }
        </script>
    }

</body>
</html>








